<body>
    <nav class="menu">
        <ul>
            <div class = "logo"><a href = '../'><img src = "../pin.png"></a></div>
            <li class="navItem"><a href='/'>All Books</a></li>
            <li class="navItem"><a href='/user' id = "user">My Books</a></li>
            <li class="navItem"><a href='/user/settings' id = "user">Settings</a></li>
            <li class="navItem"><a href = '/logout'>Log Out</a></li>
          </form>
        </ul>
    </nav>
</body>
